<%- include('../header')  %>   
   
<h3>STUDENTS SECTION</h3>
<h4>Add Student</h4>
<br>
<div class="container">
    <form action="/app/students/add" method="post">
        <input class="form-control shadow-none mb-3 phText" type="text" name="name" id="inputName" placeholder="Student Name">
        <input class="form-control shadow-none mb-3 phText" type="text" name="stream" id="inputStream" placeholder="Stream">
        <input class="form-control shadow-none mb-3 phText" type="text" name="department" id="inputDepartment" placeholder="Department">
        <input class="form-control shadow-none mb-3 phText" type="text" name="batch" id="inputBatch" placeholder="Batch">
        <input class="form-control shadow-none mb-3 phText" type="text" name="dob" id="inputDOB" placeholder="Enter Date_Of_Birth">
        <input class="form-control shadow-none mb-3 phText" type="text" name="mobile_no" id="inputMobile_no" placeholder="Mobile_No">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<%- include('../footer')  %>
 