    <%- include('header')  %>   
    <br><br>
   
          <div class="container">
            <center>
                <h3>WELCOME TO STUDENT MANAGEMENT APP</h3>
            </center>
         </div>
          
        <div class="welcomepage-container">
            <p>
                <center>
                    <p>
                        College Life is one of the most remarkable and lovable times of an individual's life. Unlike School Life, College Life has a different experience, and a person needs to have this experience in his/her life. College Life exposes us to whole new experiences which we always dream of experiencing after our school life. Lucky are those who get the chance to enjoy their college life, as many people don't get this chance due to their circumstances or financial issues. For every person, College Life has a different meaning. While some people spend their college life partying with friends, others become more cautious about their careers and study hard. Whatever the way, every individual enjoys their college life and always wishes to relive that time once it is over.
                    </p>
                    <p>
                                 <h6>College Life Experience: How is it different from School Life?</h6>

                          Both school life and college life is the most memorable time of a person's life, but both of them are quite different from each other. While in School life, we learn everything in a protected environment, College Life exposes us to a new environment where we have to learn new things and face new challenges by ourselves. We spend half of our young lives in school, and thus we get comfortable living in that environment. But College Life is for three years only, where every year introduces new challenges and lessons to us. While in school, our teachers and friends always protect and guard us, in college life we form a relationship with our mentors, and they don't protect us all the time as our school teachers did.
                    </p>  
                    <p>
                        Unlike school life, we don't have many limitations in college life, and it is up to us how we want to spend our college life. In college life, we see new faces and experience a unique environment in which we have to mingle ourselves. We make new friends there who stay with us for the rest of our lives. Also, we get a chance to shape our careers asking the right decisions and studying hard. College life is not only about the study but also about the overall development of an individual through various activities and challenges.
                    </p>
                    <p>
                        In College Life, one gets a chance to make their own decisions. In school life, students get an opportunity to be class monitors. In College Life, an individual gets a chance to nominate himself/herself for more prominent positions like College President, Vice President, Secretary, and Vice Secretary. Apart from deciding the course and stream, an individual gets a chance to build his/her confidence by being a part of various societies and events that take place all year.
                    </p>
                    <p>
                        In College Life, one gets a chance to make their own decisions. In school life, students get an opportunity to be class monitors. In College Life, an individual gets a chance to nominate himself/herself for more prominent positions like College President, Vice President, Secretary, and Vice Secretary. Apart from deciding the course and stream, an individual gets a chance to build his/her confidence by being a part of various societies and events that take place all year.
                    </p>
                    <p>
                        Different from School Life, College Life has its importance in a person's life, and one should always enjoy his/her college life.
                    </p>
                    <p>
                                              <h6>A Bridge Between Our Student and Adult Lives</h6>
                      College life is considered a bridge in our lives between our school days and our career. It prepares us with the finest academics and platform to generate dreams into realities. It acts as a transition to prepare us to be more independent. In school, we were dependent on our parents. However, we became independent in college regarding studying, traveling, decision-making, and financially independent after college. It is a valued and very smooth transition where we do not realize that we have become independent.
                    </p>
                    <p>
                                               <h6>Some Fun Memories from College Life</h6>
                        Firstly, some of the most fun memories of college are “college canteen”. The canteen is supposed to be where most of the students satisfy their hunger and hang out with their friends

                        Secondly, it’s the “annual fest” of the colleges. Fests always filled the student’s life with excitement and buzz. It gave new opportunities to explore, compare, compete and provide a platform to showcase their talent. It became a place where students take lots of pictures and record their experiences. 

                        Last but not the least, it’s the college trips. One of the best things in college life is field trips where they can go out and have quality time with their friends and teacher and learning experience. Field trips or just any other college trips are filled with stories and dramas. Every student has their own story to tell about their college trips. 

                         We should enjoy our college days as they cannot be brought back just like our school days. 
                    </p>
                    <p>
                                                      <h6>The Hardest Part of College Life</h6>
                          As a college student, the hardest part of college life was leaving college after graduation or post-graduation. The last days of college were the hardest, knowing that soon you will be departing your friends, the campus, teachers and completely leaving behind a part of life. 
                    </p>
                    <p>
                                                    <h6> College Days Experience</h6>
                        Talking about my college life, I had enjoyed my college life to the fullest and had some of the best college days of my life. I was a student of one of the most reputed colleges of Delhi University and, i.e. Gargi College. I have completed my B.A. (Hons.) in Applied Psychology from there. Gargi College is one of the renowned and best colleges of Delhi University. Built in a larger area, it is a beautiful college with many courses in streams like Science, Commerce, Arts, and Humanities. With an outstanding academic record, it is a girls college.

                        When I took admission to this college, I was really afraid as all the people were new to me. But soon, I started enjoying my college life and made some fantastic friends. I loved everything about my college and participated in the events at my college. Even I joined the dance society of my college and participated in many dance competitions that occurred in different colleges of Delhi University. 

                        One of the best things about college life is that you get a new experience every day. In my college life, along with studying, I and my friends enjoyed a lot of other things. We traveled to lots of places, had new experiences, and learned many new things. Our college's canteen was a remarkable place in my college life as whenever we got time, we used to chill in the canteen. 

                        Another thing I loved about my college life is Annual Fests. Every year, every college of Delhi University organizes an annual fest that lasts for 2-3 days. In this annual fest, various competitions happen, and students from various colleges come to be a part of this annual fest. Every year, our college organizes a massive annual fest and all the students of our college participate in various events and enjoy a lot in this fest. These fests allow students to socialize with new people and showcase their talent to everyone which builds their confidence and helps them in their future. I have participated in my college's annual fest for all three years, and I have got the best exposure and experience of my life through this fest. I had the best time of my life in college, and my college life memories will always make me happy. 
                    </p>
                    <p>
                                                        <h6>Life After College</h6>
                      One fine day, you will be silently smiling with wet eyes, looking at the pictures from your college and old friends, and remembering all the good times you had in your college days. That is the beauty of studying in a college. Despite climbing the ladders of success, you will cherish the memories of your college life. 
                    </p>
                    <p>
                                                        <h6>Conclusion</h6>
                        College Life is a remarkable and essential time in a person's life, and everyone should enjoy it. College Life teaches us many things and builds our confidence to face the challenges and struggles in our future. Instead of just focussing on the study, a person must participate in other activities and socialize as much as possible in his/her college life as all these things help in the overall development of a person.
                    </p>                                            

                                                                                                                  
                </center>
                
            </p>
        </div>
    

    <%- include('footer')  %>
